@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --userask-theme: #cf9800;
}

* {
    padding: 0%;
    margin: 0%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.userask-form-box {
    font-family: "Lato", sans-serif;
    margin: 0%;
    padding: 1.5em;
    position: fixed;
    box-shadow: 0px 0px 5px #dddddd;
    bottom: 1%;
    right: 1%;
    background-color: white;
    font-weight: 500;
    max-height: 500px;
    border-radius: 10px;
    color: #252525;
    z-index: 500;

    &:hover {
        transition: all 200ms;
    }

    @media (max-width: 450px) {
        bottom: 0%;
        left: 0%;
        right: 0%;
        margin: 0px;
        width: calc(100vw - 2em);
        padding: 1em;
    }

}


.form__spinner-container {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .form__spinner-container__spinner {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border-width: 5px;
        border-style: solid;
        border-color: var(--userask-theme) var(--userask-theme) transparent;
        animation: spin 1s linear infinite;
    }
}

.form__title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 5px;
    color: #252525;
}

.form__description {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
    color: #252525;
}

.form__nps-list {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #252525;
    
    .form__nps-list__item {
        float: left;
        margin-left: .1em;
        margin-right: .1em;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: #f1f1f1;
        border: 1px solid #cfc8c8;
        cursor: pointer;
        color: #252525;

        @media (max-width: 450px) {
            margin-left: .1em;
            margin-right: .1em;
            height: 40px;
            width: 30px;
        }

        @media (max-width: 400px) {
            margin-left: .1em;
            margin-right: .1em;
            height: 40px;
            width: 25px;
        }

    }

    .form__nps-list__item--active {
        transition: all 200ms;
        background: var(--userask-theme);
        color: white;
    }

}

.form__five-scale-list {

    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;



    .form__five-scale-list__item {
        float: left;
        margin-left: .2em;
        margin-right: .2em;
        border-radius: 5px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f1f1f1;
        border: 1px solid #CACACA;
        cursor: pointer;
        color: #252525;

        @media (max-width: 450px) {
            margin-left: .1em;
            margin-right: .1em;
            height: 40px;
            width: 30px;
        }

    }

    .form__five-scale-list__item--active {
        transition: all 200ms;
        background: var(--userask-theme);
        color: white;
    }

}


.form__five-star-list {

    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;


    .form__five-star-list__item {
        float: left;
        margin-left: .2em;
        margin-right: .2em;
        padding: 5px;
        cursor: pointer;

        @media (max-width: 400px) {
            margin-left: -0.1em;
            margin-right: -0.1em;
        }

        .form__five-star-list__item__star {
            position: relative;

            display: inline-block;
            width: 0;
            height: 0;

            margin-left: .9em;
            margin-right: .9em;
            margin-bottom: 1.2em;

            border-right: .3em solid transparent;
            border-bottom: .7em solid #c0c0c0;
            border-left: .3em solid transparent;

            /* Controlls the size of the stars. */
            font-size: 24px;

            &:before,
            &:after {
                content: '';

                display: block;
                width: 0;
                height: 0;

                position: absolute;
                top: .6em;
                left: -1em;

                border-right: 1em solid transparent;
                border-bottom: .7em solid #c0c0c0;
                border-left: 1em solid transparent;

                transform: rotate(-35deg);
            }

            &:after {
                transform: rotate(35deg);
            }
        }

        .form__five-star-list__item__star--active {
            position: relative;

            display: inline-block;
            width: 0;
            height: 0;

            margin-left: .9em;
            margin-right: .9em;
            margin-bottom: 1.2em;

            border-right: .3em solid transparent;
            border-bottom: .7em solid #FC0;
            border-left: .3em solid transparent;

            /* Controlls the size of the stars. */
            font-size: 24px;

            &:before,
            &:after {
                content: '';

                display: block;
                width: 0;
                height: 0;

                position: absolute;
                top: .6em;
                left: -1em;

                border-right: 1em solid transparent;
                border-bottom: .7em solid #FC0;
                border-left: 1em solid transparent;

                transform: rotate(-35deg);
            }

            &:after {
                transform: rotate(35deg);
            }

        }
    }

}


.form__text-box {
    height: 200px;
    width: 400px;
    border-radius: 5px;
    border: 2px solid #ebebeb;
    resize: none;
    font-family: "Lato";
    background-color: #fafafac7;
    font-size: 16px;
    padding: 0.5em;
    color: #252525;

    &:focus {
        transition: all 100ms;
        outline: none;
        border: 2px solid var(--userask-theme);
    }

    @media (max-width: 450px) {
        width: 90%;
    }

}

.form__submit-button {
    all: unset;
    padding: .75em 2em;
    border-radius: 5px;
    color: white;
    background: var(--userask-theme);
    cursor: pointer;

    &:hover {
        transition: all 200ms;
        filter: brightness(1.2);
    }

}

.form__close-button {
    all: unset;
    font-size: 1.75em;
    color: #919191;
    position: absolute;
    top: 3%;
    right: 4%;
    cursor: pointer;

    &:hover {
        transition: all 200ms;
        text-decoration: underline;
    }
}

.form__emoji-list {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;


    .form__emoji-list__item {
        float: left;
        padding: 10px;
        font-size: 40px;
        cursor: pointer;

        @media (max-width: 400px) {
            margin-left: -0.15em;
            margin-right: -0.15em;
        }

        &:hover {
            transform: scale(1.2);
            transition: all 200ms;
        }
    }

}

.form__options-list {
    list-style-type: none;
    min-width: 350px;
    color: #252525;

    .form__options-list__item {

        padding: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        border-radius: 8px;
        background: #f5f5f5;
        border: 2px solid #e7e7e7;
        

        cursor: pointer;

        &:hover {
            transition: all 200ms;
            background: #ececec;
        }

        .form__options-list__item span {
            color: #252525;
        }

    }

    .form__options-list__item--active {
        background: #a5ffc0;
        border: 2px solid #4ef881;

        .form__options-list__item--active span {
            color: green;
        }

        &:hover {
            transition: all 200ms;
            background: #d0ffde;
        }

    }

}

.form__endpage {
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #252525;
}

.form__scale-text {
    display: flex;
    margin-top: 0.5em;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;

    p {
        font-size: 1em;
        color: #252525;
    }

}
